/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	/*1.2 modular scale ratio*/
}

header {
	
}

#lh1 {
	display: block;
	margin: 1.6em auto 0 auto;
	text-align: center;
	font-size: 1.8em;
}

#wh1 {
	display: block;
	margin: auto;
	width: auto;
	text-align: center;
	padding: 0.6em 0;
	font-size: 2.2em;
	font-weight: bold;
	color: #b70101;
}

#formContainer {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	display: block;
	margin: 1.6em auto 0em auto;
}

fieldset a{
	display: block;
	box-sizing: border-box;
	margin: 0 auto 2em auto;
	text-align:center
}

.fields {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.labels {
	display: block;
	box-sizing: border-box;
	margin: 1.6em auto 0.4em auto;
	font-size: 1.2em;
	width: 16em;
	text-align:center
}



.labels input{
	display: block;
	box-sizing: border-box;
	margin: 0.2em auto 0 auto;
	font-size: 1em;
	width: 16em;
}

#submit{
	width: 5em;
	margin: auto;
	border: 0.1em solid white;
	border-radius: 2em;
	text-align: center;
	display: block;
	font-size: 1.2em;
	background-color: red;
	color: white;
}

nav {
	width: 100%;
	height: auto;
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #b70101;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	clear: both;
}

nav a {
	display: inline-block;
	padding: 0.2em 0.6em;
	text-decoration: none;
	color: white;
	transition: .2s background-color;
}

nav li {
	display: inline;
	padding: 0.6em;
}

#topbar a:hover {
	background-color: black;
}

.active {
	background-color: black;
}

#jsmenu nav{
	width: 12em;
	height: auto;
	background-color: white;
}

#jsmenu li {
	display: block;
	padding: 0;
}

#jsmenu li a {
	width: 100%;
	padding: 0 0 0.6em 0;
	color: #b70101;
}

#jsmenu img {
	padding-top: 0.8em;
}

#jsmenu a:hover {
	
}

#base {
	width: 20em;
	float: right;
	text-align: right;
	padding-right: 1em;
	display: inline-block;
}

#welc {
	width: 30em;
	float: left;
}
/*
#cont {
	clear: both;
}
*/
#welc h1 {
	float: right;
}

#QL {
	display: block;
	margin: auto;
	width: auto;
	text-align: center;
}

.h2p {
	font-size: 1.4em;
	padding: 0.8em;
	text-align: center;
}

#QL a {
	width: 15em;
	height: auto;
	padding: 0.75em;
	margin: auto;
	border: 0.1em solid white;
	border-radius: 2em;
	text-align: center;
	display: inline-block;
	font-size: 1.2em;
	background-color: #b70101;
	color: white;
	text-decoration: none;
}

#news {
	width: 80%;
	margin: 0 auto;
	text-align: justify;
}

#sched {
    width: 80%;
	padding-left: 2em;
}

.jumpers {
	padding: 1em 1em;
	text-decoration: none;
	width: 12em;
	text-align: center;
}

/* sidebar js style */
.has-toolbar body {
	overflow-x: hidden;
}

.hasjs #cont {
	width: 100%;
	transition: margin-left 1s;
}

.hasjs #jsmenu {
	transition: none;
	opacity: 0;
	visibility: hidden;
}

.has-toolbar #jsmenu {
	transition: opacity 1s 1s;
	opacity: 1;
	position: absolute;
	top: 10em;
	left: 1%;
	visibility: visible;
}

.has-toolbar #cont{
	margin-left: 12em;
}
